<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.afinal.xirpl3163238.checkyourscore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StepperActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.MenuGuruActivity"
            android:label="Menu Guru"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.BuatMapelActivity"
            android:label="Buat Mapel" />
        <activity
            android:name=".activity.MapelActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.MapelGuruActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.MenuSiswaActivity"
            android:label="Menu Siswa"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.TambahBabActivity"
            android:label="Tambah Bab"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.InputNilaiActivity"
            android:label="Input Nilai"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="Edit Profil" />
        <activity
            android:name=".activity.IsiNilaiGuruActivity"
            android:label="Edit Bab"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.EditMapelActivity"
            android:label="Edit Mapel" />
        <activity
            android:name=".activity.PesanRemidiActivity"
            android:label="Pesan Remidi"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="Tentang" />
        <activity
            android:name=".StatistikActivity"
            android:label="Statistik" />
        <activity
            android:name=".fragment.StatistikGuruActivity"
            android:label="Statistik"></activity>
    </application>

</manifest>